node-red-flow.json
[
  {
    "id": "b7e36175.63f3f",
    "type": "tab",
    "label": "Netatmo Energy Test Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "23ee7f9d.fc3f2",
    "type": "debug",
    "z": "b7e36175.63f3f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 100,
    "wires": []
  },
  {
    "id": "3e7b67a2.f52f08",
    "type": "inject",
    "z": "b7e36175.63f3f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 100,
    "wires": [
      [
        "c132d0ec3756df5e"
      ]
    ]
  },
  {
    "id": "c132d0ec3756df5e",
    "type": "homesdata",
    "z": "b7e36175.63f3f",
    "name": "",
    "auth": "128d9a7d.613c16",
    "home_id": "5bb52472c8bd0010008b8939",
    "gateway_types": [],
    "x": 330,
    "y": 100,
    "wires": [
      [
        "23ee7f9d.fc3f2"
      ]
    ]
  },
  {
    "id": "69fa83050429271b",
    "type": "inject",
    "z": "b7e36175.63f3f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 180,
    "wires": [
      [
        "bc0e7d00fc2a087a"
      ]
    ]
  },
  {
    "id": "bc0e7d00fc2a087a",
    "type": "homestatus",
    "z": "b7e36175.63f3f",
    "name": "",
    "auth": "128d9a7d.613c16",
    "home_id": "5bb52472c8bd0010008b8939",
    "device_types": [],
    "x": 330,
    "y": 180,
    "wires": [
      [
        "04e71c25e790d980"
      ]
    ]
  },
  {
    "id": "04e71c25e790d980",
    "type": "debug",
    "z": "b7e36175.63f3f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 570,
    "y": 180,
    "wires": []
  },
  {
    "id": "7ee9e43d9389c4be",
    "type": "getroommeasure",
    "z": "b7e36175.63f3f",
    "name": "",
    "auth": "128d9a7d.613c16",
    "home_id": "5bb52472c8bd0010008b8939",
    "room_id": "1229114117",
    "scale": "1day",
    "measure_type": [
      "temperature",
      "date_min_temp"
    ],
    "date_begin": "1642421727",
    "date_end": "",
    "limit": "",
    "optimize": "true",
    "real_time": "false",
    "x": 350,
    "y": 260,
    "wires": [
      [
        "e3a757b885d46855"
      ]
    ]
  },
  {
    "id": "e3a757b885d46855",
    "type": "debug",
    "z": "b7e36175.63f3f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 570,
    "y": 260,
    "wires": []
  },
  {
    "id": "4cb1523178d933cf",
    "type": "inject",
    "z": "b7e36175.63f3f",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 260,
    "wires": [
      [
        "7ee9e43d9389c4be"
      ]
    ]
  },
  {
    "id": "dd02d89ab0adae82",
    "type": "inject",
    "z": "b7e36175.63f3f",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 340,
    "wires": [
      [
        "b7a68af7d19ac7f5"
      ]
    ]
  },
  {
    "id": "b7a68af7d19ac7f5",
    "type": "setroomthermpoint",
    "z": "b7e36175.63f3f",
    "name": "",
    "auth": "128d9a7d.613c16",
    "home_id": "5bb52472c8bd0010008b8939",
    "room_id": "1229114117",
    "mode": "manual",
    "temp": "7",
    "endtime": "180",
    "x": 350,
    "y": 340,
    "wires": [
      [
        "7213cf7576428904"
      ]
    ]
  },
  {
    "id": "7213cf7576428904",
    "type": "debug",
    "z": "b7e36175.63f3f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 340,
    "wires": []
  },
  {
    "id": "52a6210b83d8f033",
    "type": "setthermmode",
    "z": "b7e36175.63f3f",
    "name": "",
    "auth": "128d9a7d.613c16",
    "home_id": "5bb52472c8bd0010008b8939",
    "mode": "hg",
    "endtime": "180",
    "x": 340,
    "y": 420,
    "wires": [
      [
        "f92f9c9b712f16fb"
      ]
    ]
  },
  {
    "id": "308801a7029a486d",
    "type": "inject",
    "z": "b7e36175.63f3f",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 420,
    "wires": [
      [
        "52a6210b83d8f033"
      ]
    ]
  },
  {
    "id": "f92f9c9b712f16fb",
    "type": "debug",
    "z": "b7e36175.63f3f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 420,
    "wires": []
  },
  {
    "id": "fa4df10447a9bf22",
    "type": "switchhomeschedule",
    "z": "b7e36175.63f3f",
    "name": "",
    "auth": "128d9a7d.613c16",
    "home_id": "5bb52472c8bd0010008b8939",
    "schedule_id": "5bb52472c8bd0010008b893a",
    "x": 360,
    "y": 500,
    "wires": [
      [
        "bc40a4b4058c704b"
      ]
    ]
  },
  {
    "id": "bcd2dc604b171475",
    "type": "inject",
    "z": "b7e36175.63f3f",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 500,
    "wires": [
      [
        "fa4df10447a9bf22"
      ]
    ]
  },
  {
    "id": "bc40a4b4058c704b",
    "type": "debug",
    "z": "b7e36175.63f3f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 500,
    "wires": []
  },
  {
    "id": "128d9a7d.613c16",
    "type": "netatmoconfig",
    "client_id": "",
    "client_secret": "",
    "username": "",
    "password": ""
  }
]